	<div class="navigation">
		<ul>
			<li ui-sref-active="selected">
				<a ui-sref="home">
					HOME
				</a>
			</li>
			<li ui-sref-active="selected">
				<a ui-sref="home.binary-tree">
					Binary Tree
				</a>
			</li>
			<li ui-sref-active="selected">
				<a sref="home.quick-sort">
					Quick Sort
				</a>
			</li>
		</ul>
	</div>
		<h4 class="center white-text">Binary Tree Visualization (rDFS)</h4>
		<div ui-view></div>
		<div class="container">
			<a class="waves-effect waves-light btn">x0.3 Speed</a>
			<a class="waves-effect waves-light btn">x0.6 Speed</a>
			<a class="waves-effect waves-light btn">x1.0 Speed</a>
		</div>